<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Limelight Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e1f4">  <td>19/04/29 01:14:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;firstTest.setupClass()[pri:0, instance:tests.amazonTest.firstTest@26be92ad]">&gt;&gt;setupClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@740069779</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/04/29 01:14:24</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;firstTest.setupTest()[pri:0, instance:tests.amazonTest.firstTest@26be92ad]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG@740069779</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/04/29 01:14:24</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="firstTest.groupSetup()[pri:0, instance:tests.amazonTest.firstTest@26be92ad]">groupSetup</td> 
  <td>TestNG@740069779</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/04/29 01:15:29</td>   <td>64687</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;firstTest.tearDown()[pri:0, instance:tests.amazonTest.firstTest@26be92ad]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@740069779</td>   <td></td> </tr>
</table>
